<div class="dashboard">
  <div class="dashboard-header">
    <p class="mb-0">Welcome to</p>
    <div class="row">
      <h2>My App</h2>
    </div>
  </div>

  <div class="container-lg my-5">
    <div class="row align-items-start">
      <div class="col-md-4 col-sm-12">
        <app-statistics></app-statistics>
      </div>
      <div class="col-md-4 col-sm-12 my-3 my-md-0">
        <app-latest-post></app-latest-post>
      </div>
      <div class="col-md-4 col-sm-12">
        <app-recent-photos></app-recent-photos>
      </div>
    </div>
  </div>
</div>
