<div class="container-fluid sidenav">
  <div class="row">
    <div class="col-lg-auto bg-light sticky-top border-right">
      <div
        class="d-flex flex-lg-column flex-row flex-nowrap bg-light sticky-top sidenav-wrapper"
      >
        <ul *ngFor="let item of sideNavItems" routerLinkActive="active">
          <li routerLink="{{ item.path }}">{{ item.name }}</li>
        </ul>
      </div>
    </div>
    <div class="col-lg min-vh-100 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
