.albums {
  .card {
    margin-bottom: 20px;
    height: 200px;

    @media only screen and (max-width: 576px) {
      margin-left: 22px;
    }
  }

  .album-mobile {
    padding: 17px;
    img {
      height: 83px;
    }
  }
}
